body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: url(../img/back.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    max-width: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #f4f4f4;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.completed {
    text-decoration: line-through;
    color: grey;
}
.footer {
    background-color: #000;
    text-align: center;
    width: 100%; 
    padding: 20px;
    position: absolute; 
    bottom: 0;
    color: #fff;
}